@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eee;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Ubuntu", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.selectedChoice{
  border: 1px solid #4c2dd6;
  background-color: #e7e4f7;
}

.selected-addon{
  border: 1px solid #4c2dd6;
  background-color: #f8fafc;
}